@model AsseyLabMgt.Models.Staff

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="StaffNumber" class="control-label"></label>
                    <input asp-for="StaffNumber" class="form-control" />
                    <span asp-validation-for="StaffNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Firstname" class="control-label"></label>
                    <input asp-for="Firstname" class="form-control" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Othername" class="control-label"></label>
                    <input asp-for="Othername" class="form-control" />
                    <span asp-validation-for="Othername" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Fullname" class="control-label"></label>
                    <input asp-for="Fullname" class="form-control" />
                    <span asp-validation-for="Fullname" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" type="tel" id="phone" name="phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="DesignationId" class="control-label"></label>
                    <select asp-for="DesignationId" class="form-control" asp-items="ViewBag.DesignationId"></select>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@23.0.1/build/js/intlTelInput.min.js"></script>
    <script>
        const input = document.querySelector("#phone");
        const iti = window.intlTelInput(input, {
            utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@23.0.1/build/js/utils.js", // ensure this path is correct
            initialCountry: "auto",
            geoIpLookup: function (success, failure) {
                fetch("https://ipapi.co/json").then(function (response) {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Failed to load country');
                }).then(function (data) {
                    success(data.country_code);
                }).catch(failure);
            }
        });
    </script>
}
