@model AsseyLabMgt.Models.LabRequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LabRequest</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="JobNumber" class="control-label"></label>
                    <input asp-for="JobNumber" class="form-control" />
                    <span asp-validation-for="JobNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ProductionDate" class="control-label"></label>
                    <input asp-for="ProductionDate" class="form-control" />
                    <span asp-validation-for="ProductionDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ClientId" class="control-label"></label>
                    <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PlantSourceId" class="control-label"></label>
                    <select asp-for="PlantSourceId" class="form-control" asp-items="ViewBag.PlantSourceId"></select>
                    <span asp-validation-for="PlantSourceId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="NumberOfSamples" class="control-label"></label>
                    <input asp-for="NumberOfSamples" class="form-control" />
                    <span asp-validation-for="NumberOfSamples" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="DeliveredById" class="control-label"></label>
                    <select asp-for="DeliveredById" class="form-control" asp-items="ViewBag.DeliveredById"></select>
                    <span asp-validation-for="DeliveredById" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ReceivedById" class="control-label"></label>
                    <select asp-for="ReceivedById" class="form-control" asp-items="ViewBag.ReceivedById"></select>
                    <span asp-validation-for="ReceivedById" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="TimeReceived" class="control-label"></label>
                    <input asp-for="TimeReceived" class="form-control" />
                    <span asp-validation-for="TimeReceived" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PreparedById" class="control-label"></label>
                    <select asp-for="PreparedById" class="form-control" asp-items="ViewBag.PreparedById"></select>
                    <span asp-validation-for="PreparedById" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="WeighedById" class="control-label"></label>
                    <select asp-for="WeighedById" class="form-control" asp-items="ViewBag.WeighedById"></select>
                    <span asp-validation-for="WeighedById" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DigestedById" class="control-label"></label>
                    <select asp-for="DigestedById" class="form-control" asp-items="ViewBag.DigestedById"></select>
                    <span asp-validation-for="DigestedById" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="TitratedById" class="control-label"></label>
                    <select asp-for="TitratedById" class="form-control" asp-items="ViewBag.TitratedById"></select>
                    <span asp-validation-for="TitratedById" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DateReported" class="control-label"></label>
                    <input asp-for="DateReported" class="form-control" />
                    <span asp-validation-for="DateReported" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="EnteredById" class="control-label"></label>
                    <select asp-for="EnteredById" class="form-control" asp-items="ViewBag.EnteredById"></select>
                    <span asp-validation-for="EnteredById" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="TimePreoared" class="control-label"></label>
                    <input asp-for="TimePreoared" class="form-control" />
                    <span asp-validation-for="TimePreoared" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
