@model AsseyLabMgt.Models.ViewModels.UsersViewModel

@{
    ViewData["Title"] = "Create";
}


<h4>Create User</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-md-6">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="OtherName" class="control-label"></label>
                    <input asp-for="OtherName" class="form-control" />
                    <span asp-validation-for="OtherName" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" type="tel" id="phone" name="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save User" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-warining">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@23.0.1/build/js/intlTelInput.min.js"></script>
    <script>
        const input = document.querySelector("#phone");  // Make sure the selector matches the ID of your input
        const iti = window.intlTelInput(input, {
            utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@23.0.1/build/js/utils.js",
            initialCountry: "auto",
            geoIpLookup: function (success, failure) {
                fetch("https://ipapi.co/json").then(function (response) {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Failed to load country');
                }).then(function (data) {
                    success(data.country_code);
                }).catch(failure);
            }
        });

        // Ensure the full phone number with international code is used when form is submitted
        document.querySelector('form').addEventListener('submit', function () {
            input.value = iti.getNumber();
        });
    </script>
}
