.iti {
    --iti-path-flags-1x: url('../lib/intl-tel-input/img/flags.png');
    --iti-path-flags-2x: url('../lib/intl-tel-input/img/flags@2x.png');
   /* --iti-path-globe-1x: url('path/to/globe.png');
    --iti-path-globe-2x: url('path/to/globe@2x.png');*/
}
