@model ReportViewModel

@{
    ViewData["Title"] = "Daily Report";
}

<h1>Daily Reports</h1>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="startDate">Production Date</label>
            <input type="date" class="form-control" id="startDate" name="StartDate" placeholder="dd/mm/yyyy" required />
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="elements">Select Elements:</label>
            <select class="select2" multiple="multiple" data-placeholder="Select a Compound" data-dropdown-css-class="select2-purple"
                    id="elements" name="SelectedElements" asp-for="SelectedElements" asp-items="Model.ElementList" style="width: 100%;"></select>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="GenerateDailyReport" method="post" onsubmit="setHiddenFields(this)">
            <input type="hidden" name="reportType" value="DailyReport" />
            <input type="hidden" name="StartDate" />
            <input type="hidden" name="Description" />
            <input type="hidden" name="SelectedElements" />
            <div class="form-group">
                <label for="plants">Select Plants:</label>
                <select class="select2" multiple="multiple" data-placeholder="Select a Plant source" data-dropdown-css-class="select2-purple"
                        id="plants" name="SelectedPlantIds" asp-for="SelectedPlantIds" asp-items="Model.Plants" style="width: 100%;"></select>
            </div>
            <button type="submit" class="btn btn-dark btn-block">
                <i class="fas fa-leaf"></i> Generate Daily Report
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            // Initialize Select2 Elements
            $('.select2').select2();

            // Initialize autocomplete for job number
            $("#jobNumber").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("SearchJobNumbers")',
                        data: { term: request.term },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2
            });
        });

        function setHiddenFields(form) {
            $(form).find('input[name="StartDate"]').val($('#startDate').val());
            $(form).find('input[name="Description"]').val($('#description').val());
            var selectedElements = $('#elements').val();
            $(form).find('input[name="SelectedElements"]').val(selectedElements ? selectedElements.join() : "");
        }
    </script>
}